body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  color: blue;
  box-shadow: 6px 5px 27px -9px rgba(0, 0, 0, 0.75);
}

.time {
  position: relative;
  text-align: right;
}

.MuiCardContent-root {
  padding-bottom: 10px !important;
}

.inputBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 2.5px;
}

.inputBox>input {
  height: 35px;
  width: 70%;
  border: 1px solid black;
  font-size: 110%;
}

.inputBox>input[type='button'] {
  height: 35px;
  width: 20%;
  border: none;
  margin-left: 15px;
  margin-top: 1px;
  background-color: rgb(66, 83, 175);
  color: white;
}

.itsMe {
  background-color: #2244ee40 !important;
  max-width: 55%;
  right: 0;
  position: relative;
  margin-left: -15px !important;
  align-self: flex-end;
}

.itsNotMe {
  background-color: #ee44ee40 !important;
  max-width: 55%;
}

.card {
  margin: 15px;
  width: 60%;
  display: flex;
}

.card p {
  clear: both;
  float: left;
}

/* @media only screen and (max-width: 1200px) {
  .card {
    width: 50%;
  }
} */